*{
    padding: 0em;
    margin: 0em;
}

.container{
    background-color: teal;
    margin-left: 15%;
    margin-right: 15%;
    padding: 5%;
}

.lista p{
    float:right;
    color: red;
}

.lista{
    font-family: fantasy;
    color:white;

}